*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    overflow-y: scroll;
}

.back-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100.3%;
    height: auto;
}


.Main{
    width: 90%;
    height: 90%;
    background-color: #4ad0ee1b;
    backdrop-filter: blur(4px);
    border-radius: 50px;
    box-shadow: 5px 5px 20px 1px #4acfee;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
  }
  
  nav h1{
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
  
  nav ul{
    list-style: none;
    display: flex;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    padding: 0px 25px;
  }

  nav a:hover, .Active{
    color : #4acfee;
    text-decoration: underline;
  }

  .Me{
    display: flex;
    align-items: center;
    height: 70%;
    padding: 0 10%;
    color: white;
    justify-content: space-between;
  }
  
  .Me h1{
    font-size: 60px;
  }
  
  .Me h2{
    margin-top: 20px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #4acfee;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .Me p{
    max-width: 450px;
    margin-top: 7px;
    margin-bottom: 20px;
  }
  
  .Me-img{
    width: 400px;
    height: 400px;
    position:relative;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 10px #4eddfd;
  }

  .Me-img img{
    position: relative;
    width: 100%;
  }
  
  .footer{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 30px 10%;
    justify-content: space-between;
    
  }
  
  .footer:info{
    display: flex;
    width: 100%;
    align-items: center;
    max-width: fit-content;
  }
  
  .footer h1{
    font-size: 55px;
    text-transform: uppercase;
    background-color: #4acfee;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
    margin-top: 30px;
  }
  
  .footer{
    color: white;   
    font-size: 20px;
  }

  .auto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 50px 0;
    color: white;
    text-align: center;
    justify-content: center;
  }

  .auto h1{
    font-size: 50px;
    background-color: #4acfee;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .paragraph p{
    max-width: 500px;
    margin-top: 20px;
    text-align: center;
    font-size: medium;
    text-indent: 20px;
    margin-bottom: 20px;
  }

  .Con{
    display: flex;
    align-items: right;
    height: 70%;
    padding: 5% 10%;
    color: white;
    justify-content: left;
  }
  
  .Con h1{
    font-size: 60px;
    padding: 0 50px;
  }
  
  .brand{
    padding: 0 20px;
  }
  .icon {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    justify-content: center;
    align-items: flex-start;
    padding: 140px 50px;
}

.icon a {
    font-size: 30px;
    gap: 15px;
    color: white; 
    transition: color 0.3s ease;
    text-decoration: none;
}

.icon a:hover {
    color: #4acfee;
}

  .Handsome-img{
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 10px #4eddfd;
  }

  .Handsome-img img{
    width: 100%;
  }


  


  
  
